# Redirect
Redirect permanent //youtube.html https://www.youtube.com/channel/UCsVKmwVKRnQP8maKT8MxWvQ/

# Redirect
Redirect permanent //twitter.html https://twitter.com/kirawarekimoota/

# Redirect
Redirect permanent //nicovideo.html https://www.nicovideo.jp/user/136203628/
