/**HTMLのデフォルトでpadding:5;になるので、**/
/**paddingを0に指定しないと画面いっぱいにレイアウトできなくなります。**/
html,body{
  padding:0;
  margin:0;
}
/**scrollのバーが邪魔になって画面がズレるので**/
/**widthとheightは100vh、100vwで画面いっぱいにしておきます。**/
.base{
  display:flex;
  flex-direction:row;
  width:100vw;
  height:100vh;
  overflow:hidden;
}
/**iframeを表示する領域。**/
.hidari{
 width:15%;
 height:100%;
}
/**iframe内のページの広さをiframeの幅に合わせる。**/
/**これがないと縦だけでなく横方面にもスクロールバーが出てみっともないです。**/
.menu{
	width:100%;
}
/**右のメインになる画面です。**/
.migi{
 width:85%;
 height:100%;
 overflow-y:scroll;
}
